{% extends 'base.html.twig' %}


{% block title %}Liste praticiens{% endblock %}

{% block body %}

<div class="container">
    <h1>Liste des praticiens</h1>
    <div class="row">
        {% for praticien in praticiens %}
            <div class="col-md-4">
                <div class "card md-4 shadow-sm">
                    <img class="card-tmg-top" src="{{praticien.avatar}}" alt="Image de l'avatar {{praticien.num}}">
                    <div class="card-body">
                        <div class="card-text">
                            <h4>{{praticien.pra_num}}</h4>
                            <h4>{{praticien.pra_nom}}</h4>
                            <h4>{{praticien.pra_adr}}</h4>
                            <h4>{{praticien.pra_CP}}</h4>
                            <h4>{{praticien.pra_ville}}</h4>
                            <p>{{praticien.pra_coefnotoriete}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}