{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

<div class="container">
    <h1>Liste des specialité</h1>
    <div class="row">
        {% for specialite in specialites %}
            <div class="col-md-4">
                <div class "card md-4 shadow-sm">
                    <div class="card-body">
                        <div class="card-text">
                            <h4>{{specialite.Id}}</h4>
                            <h4>{{specialite.speCode}}</h4>
                            <h4>{{specialite.speLibelle}}</h4>
                            <h4>{{specialite.Posseder}}</h4>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}
